# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Build output
dist/
build/
.next/
out/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# Coverage
coverage/

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Temporary files
tmp/
temp/